
body {
    min-height: 113vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #327d81;
    color: white;

}

.darkgreen {
    background-color: #327d81 !important;
}

.title {
    color: white;
    text-shadow: -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;
}

.card-body {
    position: relative; /* Make sure text is on top of the overlay */
    z-index: 2; /* Ensure the text is above the overlay */
}

.imgsmall {
    max-height: 500px;
    width: auto; /* To maintain the aspect ratio */
}

.error {
    color: #f00;
    display: block;
}
body{
}
#comment-content {
    word-wrap: break-word;
}
.comment {
    background-color: rgb(243,243,243);
}


